/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img {
  display: block;
  max-width: 100%;
  block-size: auto;
}
p,
h1,
h2 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Font Integration */
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 600;
  font-display: swap;
}

@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400 600;
  font-display: swap;
}
/* Useful Variables */
:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-50: hsl(330, 100%, 98%);
  --rose-800: hsl(332, 51%, 32%);
}
/* Utility Classes */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-30 {
  gap: 1.875rem;
}

.h-full {
  height: 100%;
}

.bold {
  font-weight: 600;
}

/* Base Styles */
body {
  background-color: var(--stone-100);
  font-family: "Outfit", sans-serif;
  color: var(--stone-600);
}

@media (min-width: 46.25rem) {
  body {
    padding: 7.8125rem 0;
  }
}

main {
  background-color: var(--white);
  width: 46.0625rem;
  border-radius: 1.25rem;
  padding-bottom: 1.875rem;
  box-shadow: 0 0.25rem 0.25rem rgba(172, 172, 172, 0.15);
}

.image-container {
  width: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
  padding: 0;
}

@media (min-width: 46.25rem) {
  .image-container {
    padding: 2.5625rem 2.5625rem 0;
  }

  .image-container img {
    border-radius: 1.25rem;
  }
}

section,
header {
  margin: 0 2.5625rem;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Headings */
header h1 {
  font-family: "Young Serif", serif;
  font-size: 2.5rem;
  color: var(--stone-900);
  font-weight: 400;
  padding-bottom: 0.9375rem;
}

.ingredients h2,
.instruction h2,
.nutrition h2 {
  font-family: "Young Serif", serif;
  font-size: 1.75rem;
  color: var(--brown-800);
  font-weight: 400;
  padding-bottom: 0.9375rem;
}

article h2 {
  color: var(--rose-800);
  padding: 0.9375rem 0;
  font-size: 1.25rem;
}

/* Paragraphs */
p {
  padding-bottom: 0.9375rem;
}

.presentation p {
  color: var(--stone-600);
  padding-bottom: 1.875rem;
}

.presentation section {
  background-color: var(--rose-50);
  border-radius: 0.625rem;
  padding: 0.625rem 1.875rem 0;
  color: var(--stone-900);
}

/* Lists */
ul,
ol {
  padding-bottom: 1.5625rem;
}

li {
  padding-bottom: 0.328125rem;
  padding-left: 1.25rem;
  margin-left: 1.5625rem;
}

::marker {
  color: var(--rose-800);
  font-weight: 600;
  font-size: 1.125rem;
}

/* Table */
tr {
  width: 100%;
  padding-left: 1.875rem;
}

td:first-child {
  flex: 1;
  padding: 0.625rem 0;
  font-weight: 400;
}

td:last-child {
  flex: 1;
  padding: 0.625rem 0;
  color: var(--brown-800);
  font-weight: 600;
}

.last-row td {
  padding-bottom: 0;
}

.border-bot {
  border-bottom: 1px solid var(--stone-150);
}
