/* Global Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Font Integration */
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 600;
  font-display: swap;
}

@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400 600;
  font-display: swap;
}

/* Useful Variables */
:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-50: hsl(330, 100%, 98%);
  --rose-800: hsl(332, 51%, 32%);
}

/* Utility Classes */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-30 {
  gap: 30px;
}

.h-full {
  height: 100%;
}

.bold {
  font-weight: 600;
}

/* Base Styles */
body {
  background-color: var(--stone-100);
  font-family: "Outfit", sans-serif;
  color: var(--stone-600);
}

@media (min-width: 740px) {
  body {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}

main {
  background-color: var(--white);
  width: 737px;
  border-radius: 20px;
  padding-bottom: 33px;
  box-shadow: 0 4px 8px rgba(172, 172, 172, 0.1);
}

.image-container {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
}

@media (min-width: 740px) {
  .image-container {
    padding-top: 41px;
    padding-left: 41px;
    padding-right: 41px;
  }

  .image-container img {
    border-radius: 20px;
  }
}

section {
  margin-left: 41px;
  margin-right: 41px;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Headings */
h1 {
  font-family: "Young Serif", serif;
  font-size: 40px;
  color: var(--stone-900);
  font-weight: 400;
  padding-bottom: 16px;
}

h2 {
  font-family: "Young Serif", serif;
  font-size: 28px;
  color: var(--brown-800);
  font-weight: 400;
  padding-bottom: 16px;
}

h3 {
  color: var(--rose-800);
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 20px;
}

/* Paragraphs */
p {
  padding-bottom: 15px;
  line-height: 25px;
}

.presentation p {
  color: var(--stone-600);
  padding-bottom: 30px;
}

.presentation div {
  background-color: var(--rose-50);
  border-radius: 10px;
  padding: 10px 30px 0;
  color: var(--stone-900);
}

/* Lists */
ul {
  padding-bottom: 25px;
  list-style-type: none;
}

ul li::before {
  content: ". ";
  color: var(--rose-800);
  margin-right: 20px;
  font-weight: 600;
}

ol {
  padding-left: 20px;
  padding-bottom: 25px;
}

.ingredients ul {
  padding-bottom: 25px;
}

li {
  line-height: 27.5px;
  padding-bottom: 3px;
}

ol li {
  padding-left: 20px;
}

/* Rows */
.row,
.last-row {
  width: 100%;
  padding-left: 30px;
}

.row h4,
.last-row h4 {
  flex: 1;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: 400;
}

.row p,
.last-row p {
  flex: 1;
  padding-top: 11px;
  padding-bottom: 11px;
  color: var(--brown-800);
  font-weight: 600;
}

.last-row p {
  padding-bottom: 0;
}

.border-bot {
  border-bottom: 1px solid var(--stone-150);
}
